<h1><%=@clan.name%></h1>
<hr>
<h2>Validade: <%=@clan.validade%></h2>
<hr>
<h2>Criado em: <%=@clan.created_at%></h2>
<hr>
<h2>Última atualização em: <%=@clan.updated_at%></h2>
<hr>
<h2>Líder</h2>
<h3><%=@clan.user.name%></h2>
<hr>